// ===============================
// Content
// ===============================
.content {
    margin-bottom: 25px;

    @include bp-desktop {
        margin-bottom: 40px;
    } // @include bp-desktop
} // .content

.content-wrap {
    @include span-columns(8);
    @include shift(2);
} // .content-wrap

// ===============================
// Links
// ===============================
.page-header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;

    @include bp-desktop {
        margin-bottom: 40px;
    } // @include bp-desktop
} // .page-header

// ===============================
// Links
// ===============================
a {
    color: $color4;
    transition: color 250ms ease-out;

    &:hover,
    &:active,
    &:focus {
        color: $color3;
    } // &:hover,&:active,&:focus
} // a

// ===============================
// Lists
// ===============================
ul,
ol {
    li {
        margin-bottom: 5px;
    } // li

    ul,
    ol {
        margin-bottom: 10px;
    } // ul,ol
} // ul,ol

// ===============================
// Blockquote
// ===============================
blockquote {
    margin-left: 0;
    padding: 10px 0 10px 15px;
    border-left: 5px solid $color3;

    @include bp-desktop {
        padding-left: 25px;
    } // @include bp-desktop

    p {
        margin: 0;
    } // p
} // blockquote

// ===============================
// Headers
// ===============================
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
} // h1,h2,h3,h4,h5,h6

// ===============================
// Code
// ===============================
code {
    color: $color5;
    background-color: $color3;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid lighten($color3, 10%);
}

// ===============================
// General Spacing
// ===============================
p,
blockquote,
pre,
ul,
ol {
    margin: 0 0 15px;

    @include bp-desktop {
        margin-bottom: 25px;
    } // @include bp-desktop
}
