// ===============================
// footer
// ===============================
.site-footer {
	background-color: $color3;
	color: $color2;
	text-align: center;
	padding: 10px 0;
	line-height: 1em;
	width: 100%;

	.home & {
		position: absolute;
		bottom: 0;
		background-color: transparent;
	} // .home &

    a {
        color: $color2;
    } // a
} // .site-footer
